#chart, #details, #list {
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
}

#login_box { float: right }

#input { padding: 1em; background: #eee; }
#input label {
  display: block;
  position: relative;
  margin: .2em;
}
#input label input {
}
#input input {
  float: right;
  width: 3em;
}
